# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Output
output/
dist/
build/
*.spec

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
